@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*,
html,
body {
    @apply font-sans;
}

h1 {
    @apply text-6xl;
}

h2 {
    @apply text-5xl;
    color: theme('colors.gnome-blue.500');
}

h3 {
    @apply text-3xl font-semibold;
}

h4 {
    @apply text-3xl font-light;
}